<!DOCTYPE html>
{%extends 'examapp/base2.html'%}
{%block body2_block%}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome<h1>
    <h3>Select exam on menu bar to start</h3>
    <br>
    <br>
    <h2>Please go through the instructions before start your exam which will guide you to take the exam</h2>
    <p>. Exam consists of 5 questions in which 3 are multiple chocices each one carries 2 marks where you have to select the optionns like(1/2/3/4).<p>
    <p>. The rest are descriptive which you have to provide your answer in the text box and then submit it.</p>
    <p>. Your total score will be displayed after some time once your answers are validated which you can see your total score after logging in by clicking
      on the total score link.</p>
    <a href="/score" class="btn btn-info" role="button">Click here for your total score</a>




  </div>
</div>
{%endblock%}
