<!DOCTYPE html>
{%extends 'examapp/base2.html'%}
{%block body2_block%}
<div class="container">
  <div class="jumbotron">
    <h3>How many players will be there in kabaddi?</h3>
    <br>
    <h4>1  5</h4>
    <h4>2  6</h4>
    <h4>3  7</h4>
    <h4>4  9</h4>
    <form action="" method="post">
      <!-- <input type="radio" name="options" value="Web Framework">&nbsp Web Framework<br>
      <input type="radio" name="options" value="Programming Language">&nbsp Programming Language<br>
      <input type="radio" name="options" value="Server">&nbsp Server<br>
      <input type="radio" name="options" value="Database">&nbsp Database<br> -->
      {{form.as_p}}
      {%csrf_token%}

      <input type="submit" value="submit">
    </form>

  </div>
</div>
{%endblock%}
